

<div class="relative overflow-hidden">
  <app-header />
  <div class="container mx-auto ">
    <div class="max-w-screen-lg mx-auto px-10 sm:px-6 lg:px-28 py-10 md:w-auto lg:w-auto xl:w-auto">
      <div *ngFor="let post of posts() " class="mb-10">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <!-- Header -->
        <div class="flex items-center justify-between bg-gray-950 py-4 px-6">
          <div class="font-semibold text-xl  text-white">{{post.title}} </div>
          <div class="flex items-start">
            <div class="bg-lime-500 text-white text-s rounded-full px-6 py-2 mr-2">
              {{post.author_team}}
            </div>
            <p class="text-xs font-light mb-2 p-2 py-1 text-gray-300"> {{post.author_name}} </p>
            <p class="text-xs font-light p-2 py-1 text-gray-300">{{post.created_date | date}}</p>
          </div>
        </div>

        <div class="py-4 px-6">
          <p class="mt-4 text-base leading-relaxed flex-grow">
            {{post.excerpt}}...
              <a [routerLink]="['/post', post.id]" class="text-sm  hover:text-lime-500  text-gray-400 ">Show More</a>
          </p>

        </div>
        <!-- Footer -->
        <div class="flex justify-between items-center border-t border-gray-900 py-4 px-6 ">
          <div class="flex space-x-4">
            <button type="button"
            class="text-sm font-black hover:text-lime-500 "
            (click)="changeTooltip(post.id!)"
            >{{post.likes!.length}} Likes</button>
            <a [routerLink]="['/post', post.id]"
            class="text-sm font-black hover:text-lime-500 "
            >{{post.comments!.length}} Comments
          </a>
          <div *ngIf="selectedPost() === post.id && showTooltip()" class="absolute z-10 px-8 py-2 text-base font-medium text-gray-900 bg-white border-gray-200 rounded-lg shadow-sm bg-opacity-85">
              <ul *ngFor="let like of post.likes" class="list-none ">
                <li>{{like.author_name}} </li>
              </ul>
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          <div class="flex space-x-4">
            <div *ngIf="flagUser()">
              <button *ngIf="post.flag" type="button" (click)="createOrDeleteLike(post.id!, post.flag)"class="text-lime-400  hover:text-lime-700 ">
                <mat-icon class="text-[25px]">favorite</mat-icon>
              </button>
              <button *ngIf="post.flag === false" type="button" (click)="createOrDeleteLike(post.id!, post.flag)"  class="material-symbols-outlined  hover:text-lime-700 ">
                <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#75FB4C"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg>
              </button>
              <a [routerLink]="['/post', post.id]"  class="text-lime-400  hover:text-lime-700 "> <mat-icon>comment</mat-icon></a>
            </div>
            <div *ngIf="post.edit">
              <a [routerLink]="['/edit', post.id]"  class="text-lime-400  hover:text-lime-700 "> <mat-icon>draw</mat-icon></a>
            <button type="button" (click)="deletePost(post.id!)" class="text-lime-400  hover:text-lime-700 ">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          </div>
        </div>
      </div>
      </div>
      <div class="flex">
        <div *ngIf="pagePost().links.previous">
        <button (click)="paginationBack()">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#75FB4C"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
        </button>
        </div>
        <p class="mx-2 text-sm font-black">{{pagePost().current_page}} of {{pagePost().total_pages}} </p>
        <div *ngIf="pagePost().links.next">
        <button (click)="paginationNext()" class="hover:text-lime-700 ">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#75FB4C"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
        </button>
        </div>
      </div>
      <div *ngIf="flagUser()">
        <a [routerLink]="['/create']" class="fixed right-16 bottom-8">
          <svg xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="0 -960 960 960" width="100px" fill="#75FB4C"><path d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
        </a>
      </div>
    </div>
  </div>
</div>



